h1{
    margin: 10px auto;
    border: 10px dotted #8c8caf;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 100px;


    
    body {
        font-family: Arial, sans-serif;
      }
      #taskInput {
        width: 200px;
        margin-bottom: 10px;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        margin-bottom: 5px;
      }
      
      

}