h1{
    margin: 10px auto;
    border: 10px dotted #121244;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Brush Script MT', cursive;
    text-align: center;
    font-size: 100px;

}


p{
    margin: 10px auto;
    font-family: "Courier new";
    text-align: center;
}

p.thick{
    font-weight: bold;
}

p.thicker {
    font-weight: 900;
}

h3{
    margin: 10px auto;
    border: 10px;
    border-radius: 20px;
    font-family: "Courier new";
    text-align: center;
    font-size: 30px;

}
